.Education-header {
  background-color: 	#002B44;
  color: #EDE5CE;
  font-size: x-large;
  padding-left: 1%;
}

.Education-body {
  background-color: 	#002B44;
  color: #EDE5CE;
  font-size: large;
  padding-left: 1%;
}